@model CommentForm.Models.CommentFormViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentFormModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommentForm.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentForm.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentForm.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentForm.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentForm.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentForm.Priority)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Procedure.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure.Priority)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Procedure.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedure.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedure.Details)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommentForm.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
